VITE_PUBLIC_API_BASE_URL=localhost:3000/api

VITE_AUTH0_DOMAIN=dev-y5hbopllqpeiqa6j.eu.auth0.com
VITE_AUTH0_CLIENT_ID=ZM1qKZ4IwlwHlCW31DUZqtclNr4pLaOu
VITE_AUTH0_AUDIENCE=radio-log-express-api

VITE_AUTH0_LOGOUT_REDIRECT_URL=http://localhost:3001

VITE_TELEGRAM_BOT_USERNAME=PLWTestBot