TARGET_ENV=development

NODE_PORT=3000
NODE_ENV=development

AUTH0_DOMAIN=dev-y5hbopllqpeiqa6j.eu.auth0.com
AUTH0_BACKEND_AUDIENCE=https://dev-y5hbopllqpeiqa6j.eu.auth0.com/api/v2/
AUTH0_FRONTEND_AUDIENCE=radio-log-express-api
AUTH0_CLIENT_ID=O1LX5aV4UJUcZoWkjcJAFHwEL3SYtkec
AUTH0_CLIENT_SECRET=

MONGODB_URI=mongodb://admin:password@mongodb:27017/radiolog?authSource=admin
DB_NAME=radiolog

TELEGRAM_TOKEN=